.settings {
    display: flex;
}

.settings-wrapper {
    flex: 9;
    padding: 20px;
}

.settings-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings-update-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: teal;
    cursor: pointer;
}

.settings-delete-title {
    font-size: 12px;
    margin-bottom: 20px;
    color: tomato;
    cursor: pointer;
}

.settings-form {
    display: flex;
    flex-direction: column;
}

.settings-profile-picture {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.settings-profile-picture > img {
    width: 170px;
    height: 170px;
    border-radius: 20px;
    object-fit: cover;
}

.settings-profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: teal;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.settings-form > label {
    font-size: 20px;
    margin-top: 20px;
}

.settings-form > input {
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.settings-form > input:focus {
    outline: none;
}

.settings-submit {
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 12px;
    color: #fff;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

