.login-container {
    background-color: #212329;
    height: calc(100vh - 52px);
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;        
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4A5667;
    margin: 0;
    padding: 20px 40px;
    border-radius: 10px;
}

.login-title {
    font-size: 50px;
    color: #fff;
}

.login-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.login-form > label {
    margin: 10px 0;
    color: #fff;
}

.login-input {
    padding: 10px;
    background-color: #fff;
    border: none;
}

.login-button {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.login-register {
    margin-top: 60px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}