.topbar {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: aqua;
}

.top-left, .top-right {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-center {
    flex: 6;
}

.top-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}

.profile-image {
    width: 40px;    
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-list-item {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.top-search {
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}



